@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.flex {
    display: flex;
}

.heading {
    justify-content: space-around;
    height: 4rem;
    align-items: center;
}

#menu, #cart, #avatar {
    width: 20px;
    height: 20px;   
}

#cart, #menu{
    margin-right: 1rem ;
}

#logo {
    width: 110px;
    height: 18px;
} 

.show-links {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 70vw;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav{
    overflow: hidden;
    height: 0;
    position: relative;
  }
  
  li {
    list-style-type: none;
    margin: 1rem 0;
  }

  li> a{
    text-decoration: none;
    color: #767676;
    font-weight: 400;  
  }
  
  li>a:hover{
    padding-left: 0.5rem;
    text-decoration: none;
  }
  
  #close-icon {
   position: absolute;
   top: 2rem;
   right: 2rem;
   cursor: pointer;
  }
  
  .overlay  {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100vw
  }

.carousel-photo{
    height: 350px;
    width: 100vw;
    margin: auto;
    display: block;
}

#content{
    padding: 2rem 1rem 5rem;
}

#content h6 {
    color: hsl(26, 100%, 55%);
    margin-bottom: 0.5rem;
}

#description{
    color: #767676;
    margin: 1rem 0;
    font-size: 15px;
    line-height: 1.5; 
}

.price {
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 0;
}

.price h1 {
    font-size: 30px;
}

#discount{
    margin: 0.3rem 0 0 2rem;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    height: 30px;
    width: 50px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    padding-top: 5px;
}

#slashed-price {
    color: #767676;
    text-decoration: line-through;
}

#cart-num{
    background-color: hsl(223, 64%, 98%);
    height: 3.5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 1rem 0;
}

button{
    border: none;
    background-color: hsl(26, 100%, 55%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    padding: 1rem 2rem;
    width: 90vw;
    
}

.tab-photos{
    display: none;
}

@media screen and (min-width: 768px) {
    .flex-tab{
        display: flex;
        justify-content: space-evenly;
        
    }
    nav{
        overflow: visible ;
        height: 2rem;
    }

    .heading {
        justify-content: space-between;
        margin: 0 1rem;
        border-bottom: 1px solid #767676;
        height: 5rem;
    }

    #menu, #close-icon {
        display: none;
    }

    .header {
        position: relative;
    }

   nav ul  {
       display: flex;
       position: absolute;
       bottom: 45px;
       left: 10rem
   }

   nav ul li {
       padding-right: 1rem; 
   }
    
   #carousel{
       width: 30vw;
   }

   .carousel-photo{
       width: auto;
   }

   #content {
       width: 30vw;
       padding: unset;
   }

   button{
       width: unset;
   }

   
    .tab-photos{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .tab-photo {
        width: 75px;
        height: 80px;
        margin: 0.5rem;
        border: 2px solid red;
        border-radius: 10px;
    }




}










